<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class='brand'>
        <img alt="Brand" src="/icon.png">
        <h3>The Online CookBook</h3>
      </div>
      <div class="box">
        <div class="container-1">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input type="search" id="search" ng-model='searchValue' placeholder="Search..." />
        </div>
      </div>
      <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
          <img src="https://c625951.ssl.cf3.rackcdn.com/userreview/photo-b0f7c5047ecc2e8c86d445f33a1975e8.png" class="profile-image img-circle"> {{user.username}} <b class="caret"></b></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a><i class="fa fa-cog"></i> Account</a></li>
              <li class="divider"></li>
              <li><a ng-click='logOut()'><i class="fa fa-sign-out" ></i> Sign-out</a></li>
            </ul>
      </div>
    </div>
  </div>
</nav>
<main class='homeBody'>
  <div class='sideNav'>
    <ul class="nav nav-pills">
      <li role="presentation" ng-class='!filterFavsOn ? "active" : "off"'><a href='#' ng-click='removeFilters();'>My Recipes</a></li>
      <li role="presentation" ng-class='filterFavsOn ? "active" : "off"'><a href='#' ng-click='filterFavs(); $event.stopPropagation();'>My Favorites</a></li>
    </ul>
  </div>
  <div class='recipeView'>
    <div ng-repeat='recipe in user.recipies | filter:filters | filter: searchValue' class='recipe' ng-click='go(recipe.url)'>
        <h1 class='recipeName'>{{recipe.name}}</h1>
        <div class='tagRow'>
          <span ng-repeat='tag in recipe.tags'>{{tag.text}} </span>
        </div>
        <h4 class='iconRow'><i class="fa fa-trash actionIcon" ng-click='toggleModal(); $event.stopPropagation();'></i><i class="fa fa-tag actionIcon"></i><i class="fa fa-star actionIcon" ng-click='toggleFav(recipe); $event.stopPropagation();' ng-class="recipe.favorite ? 'favorite' : 'favortieOFF'"></i></h4>
    </div>
    <modal-dialog show='modalShown' width='300px' height='150px'>
      <h3 class='ng-modal-type'>Remove from the Book?</h3>
      <div>
        <button type="button" class="btn btn-success">Remove</button>
        <button type="button" class="btn btn-warning" ng-click='toggleModal()'>Cancel</button>
      </div>
    </modal-dialog>
  </div>
</main>
