<form ng-submit='loginCall(loginPacket)' name='loginForm' ng-show='!signUp' class='loginAction'>
  <span class='error'>{{loginMessage}}</span>
  <h3>Login or<span ng-click='signUp=!signUp' class='toggleLogin'> SignUp</span></h3>
  <div class='formGroup'>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Username</span>
      <input type="text" class="form-control" ng-required='true'
      ng-model='loginPacket.username'>
    </div>
  </div>
  <div class='formGroup'>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Password</span>
      <input type="password" class="form-control" ng-required='true'
      ng-model='loginPacket.password'>
    </div>
  </div>
  <input type='submit' class='btn' ng-disabled="signUpFrom.$invalid">
</form>
